:root {
  --primary-color: #fc5200;
  --secondary-color: #fecab1;
  --background-color: #EDEDED;
  --background-color-menu: #ffffff;
  --text-color: #000000;
  --menu-background: #ffffff;
  --bordor-color-accordian-menu: #dbdcd2
}

.dark-mode{
  --primary-color: #fc5200;
  --secondary-color: #333;
  --background-color: #AAA;
  --background-color-menu: #AAA;
  --text-color: #FFF;
  --menu-background: #AAA;
  --bordor-color-accordian-menu: #dbdcd2
}

ul { list-style: none; }
a { text-decoration: none; color: var(--text-color);}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 120px;
  background-color: var(--secondary-color);
}
.banner .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


body {
  background-color: var(--background-color);
}
.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--primary-color);
  width: 200px;
  border-radius: 20px;
}

.profile-menu img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 10px;
}