.floating-button-coin {
    position: fixed;
    bottom: 150px; /* Afstand vanaf de onderkant */
    right: 20px;  /* Afstand vanaf de rechterkant */
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    background: none; /* Geen achtergrondkleur of afbeelding */
    z-index: 9;
}
.floating-button-coin img {
    width: 120px; /* Pas de breedte aan voor een kleinere knop */
    height: auto; /* Behoud de originele aspect ratio */
}

.circle-container {
    position: absolute;

    top: -3px; /* Beetje naar boven */
    right: -3px; /* Beetje naar rechts buiten de rand */
    display: inline-flex; /* Zorgt ervoor dat de container zich aanpast aan de inhoud en inline gerangschikt kan worden */
    justify-content: center; /* Centreert de inhoud horizontaal */
    align-items: center; /* Centreert de inhoud verticaal */
    border-radius: 50%; /* Maakt de container rond */
    background-color: var(--primary-color); /* De gele achtergrondkleur */
    border: 2px solid black; /* De oranjerode rand */
    color: #fdb200; /* De kleur van het getal */
    font-size: 24px; /* Een mooie grootte voor het getal */
    font-weight: bold; /* Maakt het getal vetgedrukt */
    padding: 0.4em; /* Voeg wat interne padding toe om ruimte rond het getal te creëren */
    line-height: 1; /* Zorgt ervoor dat de hoogte van de tekst geen onnodige ruimte toevoegt */
    white-space: nowrap; /* Voorkomt dat het getal op meerdere regels breekt */
    height: 12px;
}


#coinsoverlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; /* Ensure it's below the popup but above other content */
}
#coinspopup {
    display: none; /* Begin as hidden */
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 70%;
}

.shop-window {
    background-color: #f0f0f0; /* Achtergrondkleur van het venster */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%; /* Pas de breedte aan */
    max-width: 600px; /* Maximale breedte */
    margin: 50px auto; /* Centreer het venster */
    overflow: hidden; /* Zorgt ervoor dat afgeronde hoeken werken voor de inhoud */
    height: 700px;
}

.shop-menu {
    background-color: #e0e0e0; /* Achtergrondkleur van de menubalk */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.menu-button {
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    transition: background-color 0.3s ease;
}

.menu-button.active {
    background-color: #ff8c00; /* Oranje kleur voor de actieve knop */
    color: white;
}

.menu-button:hover {
    background-color: #ddd;
}

.close-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-button:hover {
    color: #333;
}

.shop-content {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hexagon-container {
    text-align: center;
    position: relative; /* Voor de positionering van de prijs */
}

.hexagon-container img {
    width: 120px; /* Geschatte grootte van de hexagonale afbeeldingen */
    height: auto;
}

.price {
    position: absolute;
    bottom: -15px; /* Plaats de prijs onder de hexagon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdb200; /* Gele achtergrond voor de prijs */
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price img {
    width: 20px;
    height: auto;
}

.buy-coins {
    padding: 0;
    margin: 0;
    text-align: center;
}

.buy-button {
    background: none;
    border: none;
    cursor: pointer;
}

.buy-button img {
    width: 150px; /* Geschatte grootte van de koop coins knop */
    height: auto;
}
.paypaypal {
    margin: 0;
}