{% extends 'base.html.twig' %}

{% block body %}
    <!-- leaflet provides global map and ability to add points / hexagons -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- script to draw hexagon over the world, fully customizable -->
    <script src="{{ asset('js/DrawHexagon.js') }}"></script>
    <div id="map" style="width: 100%; height: 450px;"></div> <!-- height is hardcoded dont know if thats correct -->

{% endblock %}
